# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
./rsff

# freeglut
freeglut/*

# vs stuff
*.ilk
*.pdb
Debug
ipch
*.ipch
*.opensdf
*.sdf
*.suo
Release
*.vcxproj.filters
*.user
